.topbar{
  position: relative;
  display: flex;
  align-items: center;
  width: 100vw;
  background-color: #0e0e0e;
  box-sizing: content-box;

  .logo{
    margin-left: 2%;

    .logoImage{
      height: 100%;
      width: 100%;
    }
  }

  .links{
    position: absolute;
    left: 17%;
    gap: 2rem;
    font-weight: 500;
    font-size: 1.4vw;

    a{
      color: #bdbdbd;

      &:hover {
        color: #9c9c9c;
      }
    }
  }

  .searchBar{
    position: absolute;
    left: 40%;
    background-color: #0e0e0e;
    width: 20%;
    height: 50%;
    border-radius: 1vw;
    text-align: center;
    align-content: center;
    border: #323131 solid 1.3px;
    color: #6a6a6a;

    justify-content: center;
    align-items: center;

    *{
      font-size: 1.1vw;
    }
  }

  .button{
    position: absolute;
    background-color: #1e1e1e;
    border-radius: 1vw;
    height: 50%;
    aspect-ratio: 1/1;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 1);
    }

    .image{
      filter: invert(100%);
      opacity: 0.6;
      aspect-ratio: 1/1;

      width: 60%;
      height: 60%;
      object-fit: contain;
      display: block;
    }
  }

  .signButtonsContainer{
    display: flex;
    position: absolute;
    height: 100%;
    align-items: center;
    right: 5%;
    gap: 2vw;
  }

  .signButton{
    background-color: #151515;
    box-shadow: rgba(0, 0, 0, 0.06) 0 0 15px 15px;
    border-radius: 1vw;
    height: 40%;
    aspect-ratio: 3/1;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    transition: all 0.2s ease-in-out; //add this to tailwind and such we gonna make it dynamic
  }
}

.linkGroup{
  overflow: hidden;
  transition: all ease-in-out 0.3s;
}

.linkStyle {
  font-size: xx-large;
}