.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #151515;
  margin: 2vw;
  width: 33vw;
  height: 27vw;
  //border-radius: 1.5rem;
  overflow: hidden;
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 1);
  }
}

.cardImage{
  height: 60%;
  width: 100%;
}

.cardTitle{
  margin-top: 5%;
  height: 10%;
  width: 80%;
  font-weight: bold;
  font-size: x-large;
}

.cardDetail{
  height: 25%;
  width: 80%;
}