.panel{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  h1{
    font-weight: bold;
    font-size: 3vw;
  }

  label{
    width: 30vw;
    margin-left: 0.5vw;
    margin-bottom: 0.5vw;
  }

  input, .countryPicker{
    height: 3vw;
    width: 30vw;
    background-color: #0a0a0a;
    color: white;
    padding: 1vw;

    border-color: #474747;
    border-style: solid;
    border-width: 2px;

    margin-bottom: 2vw;
  }

  .countryPicker{
    padding: 0 1vw !important;
  }


  .hideButton{
    width: 5vw;
    height: 3vw;
    padding: 1vw;

    border-color: #474747;
    border-style: solid;
    border-width: 2px;
    border-radius: 5vw;

    display: flex;

    justify-content: center;
    align-items: center;

    font-size: 1.2vw;
  }

  .createAccountButton{
    width: 26vw;
    height: 3vw;
    padding: 1vw;

    background-color: #ededed;
    color: black;

    border-radius: 5vw;

    display: flex;

    justify-content: center;
    align-items: center;

    font-size: 1.2vw;


    &:hover{
      background-color: #dfdfdf;
    }

    &:active{
      background-color: #c5c5c5;
    }
  }

  .loader {
    height: 200%;
    aspect-ratio: 1/1;
    border: 5px solid rgba(0, 0, 0, 0.07);
    border-top: 5px solid #000000; // active color
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

