.carGrid{
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* REQUIRED */
  grid-template-rows: repeat(4, 1fr);
  justify-items: stretch;
  align-items: stretch;
  height: 37vw;
  gap: 1rem;
  margin: 2vw;

  grid-template-areas:
    "carImage carImage carImage carDetails carDetails"
    "carImage carImage carImage carDetails carDetails"
    "carImage carImage carImage carDetails carDetails"
    "carTitle carTitle carTitle carPrice  carPrice ";
}


.carTitle{
  width: 100%;
  grid-area: carTitle;
  text-align: center;
  font-weight: bold;
  font-size: 5vw;
}

.carImage{
  width: 100%;
  grid-area: carImage;
}

.carDetails{
  width: 70%;
  grid-area: carDetails;
  text-align: center;
  font-weight: 500;
  font-size: 2vw;
  align-self: center;
  justify-self: center;
}

.carPrice{
  width: 100%;
  grid-area: carPrice;
  text-align: center;
  font-weight: 600;
  font-size: 2vw;
}

.titleSkeleton {
  background-color: #151515;
  border-radius: 1.5rem;
  width: 100%;
  grid-area: carTitle;

  animation: glow-pulse 1s ease-in-out infinite;
}

.imageSkeleton {
  background-color: #151515;
  border-radius: 1.5rem;
  width: 100%;
  grid-area: carImage;

  animation: glow-pulse 1s ease-in-out infinite;
}

.detailsSkeleton {
  background-color: #151515;
  border-radius: 1.5rem;
  width: 100%;
  grid-area: carDetails;

  animation: glow-pulse 1s ease-in-out infinite;
}

.priceSkeleton {
  background-color: #151515;
  border-radius: 1.5rem;
  width: 100%;
  grid-area: carPrice;

  animation: glow-pulse 1s ease-in-out infinite;
}

@keyframes glow-pulse {
  0%{
    filter: brightness(0);
  }

  50%{
    filter: brightness(1);
  }

  100%{
    filter: brightness(0);
  }
}