.carGrid{
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* REQUIRED */
  grid-template-rows: repeat(4, 1fr);
  justify-items: stretch;
  align-items: stretch;
  height: 35vw;
  gap: 1rem;
  margin: 2vw;

  grid-template-areas:
    "carImage carImage carImage carDetails carDetails"
    "carImage carImage carImage carDetails carDetails"
    "carImage carImage carImage carDetails carDetails"
    "carTitle carTitle carTitle carPrice  carPrice ";
}

.titleSection{
  width: 100%;
  grid-area: carTitle;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.carTitle{
  text-align: center;
  font-weight: bold;
  font-size: 4vw;
}

.carImage{
  width: 90%;
  justify-self: center;
  grid-area: carImage;
}

.carDetails{
  width: 70%;
  height: 80%;
  grid-area: carDetails;
  text-align: center;
  font-weight: 500;
  font-size: 2vw;
  align-self: center;
  justify-self: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

.carPrice{
  width: 100%;
  grid-area: carPrice;
  text-align: center;
  font-weight: 600;
  font-size: 2vw;
}

.titleSkeleton {
  background-color: #151515;
  border-radius: 1.5rem;
  width: 100%;
  grid-area: carTitle;

  animation: glow-pulse 1s ease-in-out infinite;
}

.imageSkeleton {
  background-color: #151515;
  border-radius: 1.5rem;
  width: 100%;
  grid-area: carImage;

  animation: glow-pulse 1s ease-in-out infinite;
}

.detailsSkeleton {
  background-color: #151515;
  border-radius: 1.5rem;
  width: 100%;
  grid-area: carDetails;

  animation: glow-pulse 1s ease-in-out infinite;
}

.priceSkeleton {
  background-color: #151515;
  border-radius: 1.5rem;
  width: 100%;
  grid-area: carPrice;

  animation: glow-pulse 1s ease-in-out infinite;
}

.button{
  background-color: #1e1e1e;
  border-radius: 1vw;
  height: 50%;
  aspect-ratio: 4/1;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.5vw;

  &:hover{
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 1);
  }
}

@keyframes glow-pulse {
  0%{
    filter: brightness(0);
  }

  50%{
    filter: brightness(1);
  }

  100%{
    filter: brightness(0);
  }
}