.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #151515;
  margin: 1.6vw;
  //border-radius: 1.5rem;
  overflow: hidden;
  transition: all 0.2s;
  position: relative;

  &:hover {
    cursor: pointer;

    .cardTitle {
      top: 10%;
    }

    .cardImage {
      filter: brightness(0.4) blur(5px);
    }

    .cardDetail {
      opacity: 1;
      top: 32%;
    }

    .cardPrice {
      opacity: 1;
      top: 75%;
    }
  }
}

.cardImage{
  height: 100%;
  width: 35vw;

  transition: all 0.2s;
}

.cardTitle{
  position: absolute;
  top: 70%;
  height: 10%;
  width: 80%;
  font-weight: bold;
  font-size: 28px;
  text-shadow: #0a0a0a 0 0 15px;

  transition: all 0.2s;
}

.cardDetail{
  position: absolute;
  top: 100%;
  left: 10%;
  opacity: 0;
  height: 25%;
  width: 60%;
  text-shadow: #0a0a0a 0 0 15px;


  font-size: 22px;
  font-weight: 500;
  line-height: 130%;

  will-change: top;

  transition: all 0.2s;
}

.cardPrice{
  position: absolute;
  top: 100%;
  opacity: 0;
  height: 25%;
  width: 80%;
  text-shadow: #0a0a0a 0 0 15px;
  text-align: right;
  font-size: x-large;
  font-weight: bold;

  transition: all 0.2s;
}

