.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #151515;
  margin: 1.6vw;
  overflow: hidden;
  transition: all 0.2s;
  position: relative;

  @media (min-width: 1024px) {
    &:hover {
      cursor: pointer;

      .cardTitle {
        top: 10%;
      }

      .cardImage {
        filter: brightness(0.4) blur(5px);
      }

      .cardDetail {
        opacity: 1;
        top: calc(10% + 4vw);
      }

      .cardPrice {
        opacity: 1;
        top: 75%;
      }
    }
  }

  .cardImage {
    height: 100%;

    transition: all 0.2s;
  }

  .cardTitle {
    position: absolute;

    height: 10%;
    width: 80%;

    text-shadow:
            #0a0a0a 0 0 5px,
            #0a0a0a 0 0 5px;

    transition: all 0.2s;

    font-size: 7.4vw;

    left: 3%;
    top: 0;
    bottom: 90%;

    @media (min-width: 1024px) {
      top: 70%;
      bottom: 0;
      font-size: 2.4vw;
      left: auto;
    }

  }

  .cardDetail {
    position: absolute;
    top: 100%;
    left: 10%;
    opacity: 0;
    height: 25%;
    width: 80%;
    text-shadow: #0a0a0a 0 0 15px;


    font-size: 1.5vw;
    font-weight: 500;
    line-height: 150%;

    will-change: top;

    transition: all 0.2s;
  }

  .cardPrice {
    position: absolute;

    height: 25%;
    width: 80%;
    text-shadow:
            #0a0a0a 0 0 5px,
            #0a0a0a 0 0 5px;
    text-align: right;
    font-size: x-large;
    font-weight: bold;

    transition: all 0.2s;

    opacity: 1;
    top: 75%;

    @media (min-width: 1024px) {
      opacity: 0;
      top: 100%;
    }
  }
}

